[submodule "dotfiles/.vim/bundle/vim-go"]
	path = dotfiles/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotfiles/.vim/bundle/emmet-vim"]
	path = dotfiles/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/.vim/bundle/tagbar"]
	path = dotfiles/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/.vim/bundle/tComment"]
	path = dotfiles/.vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "dotfiles/.vim/bundle/ultisnips"]
	path = dotfiles/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dotfiles/.vim/bundle/vim-autoformat"]
	path = dotfiles/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dotfiles/.vim/bundle/vim-snippets"]
	path = dotfiles/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotfiles/.vim/bundle/angular-vim-snippets"]
	path = dotfiles/.vim/bundle/angular-vim-snippets
	url = https://github.com/matthewsimo/angular-vim-snippets.git
[submodule "dotfiles/.vim/bundle/vim-github-colorscheme"]
	path = dotfiles/.vim/bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "dotfiles/.vim/bundle/vim-scala"]
	path = dotfiles/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "dotfiles/.vim/bundle/vim-indent-guides"]
	path = dotfiles/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotfiles/.vim/bundle/vim-gitgutter"]
	path = dotfiles/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotfiles/.vim/bundle/vimshell.vim"]
	path = dotfiles/.vim/bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "dotfiles/.vim/bundle/tinykeymap"]
	path = dotfiles/.vim/bundle/tinykeymap
	url = https://github.com/tomtom/tinykeymap_vim.git
[submodule "dotfiles/.vim/bundle/YouCompleteMe"]
	path = dotfiles/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "dotfiles/.vim/bundle/goyo"]
	path = dotfiles/.vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "dotfiles/.vim/bundle/limelight"]
	path = dotfiles/.vim/bundle/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "dotfiles/.vim/bundle/vimwiki"]
	path = dotfiles/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "dotfiles/.vim/bundle/editorconfig"]
	path = dotfiles/.vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "dotfiles/.vim/bundle/vim-project"]
	path = dotfiles/.vim/bundle/vim-project
	url = https://github.com/amiorin/vim-project.git
[submodule "dotfiles/.vim/bundle/jsbeautify"]
	path = dotfiles/.vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "dotfiles/.vim/bundle/ag"]
	path = dotfiles/.vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "dotfiles/.vim/bundle/multiple-cursors"]
	path = dotfiles/.vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "dotfiles/.vim/bundle/go-impl"]
	path = dotfiles/.vim/bundle/go-impl
	url = https://github.com/rhysd/vim-go-impl.git
[submodule "dotfiles/.vim/bundle/emmet"]
	path = dotfiles/.vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotfiles/.vim/bundle/haml"]
	path = dotfiles/.vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "dotfiles/.vim/bundle/visual-star-search"]
	path = dotfiles/.vim/bundle/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "dotfiles/.vim/bundle/sprunge"]
	path = dotfiles/.vim/bundle/sprunge
	url = https://github.com/chilicuil/vim-sprunge.git
[submodule "dotfiles/.vim/bundle/coffee-script"]
	path = dotfiles/.vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotfiles/.vim/bundle/ctrlp"]
	path = dotfiles/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/.vim/plugin/markdown"]
	path = dotfiles/.vim/plugin/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotfiles/.vim/bundle/markdown"]
	path = dotfiles/.vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotfiles/.vim/bundle/play2vim"]
	path = dotfiles/.vim/bundle/play2vim
	url = https://github.com/gre/play2vim.git
[submodule "dotfiles/.vim/bundle/conoline.vim"]
	path = dotfiles/.vim/bundle/conoline.vim
	url = https://github.com/miyakogi/conoline.vim.git
[submodule "dotfiles/.vim/bundle/jellybeans.vim"]
	path = dotfiles/.vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
