[Unit]
Description=Update dotfiles

[Service]
Type=oneshot
Environment="USER=elkorn","HOME=/home/elkorn"
WorkingDirectory=/home/elkorn/.config/dotfiles/
ExecStart=/bin/bash make.sh