[Unit]
Description=Update dotfiles

[Service]
Type=oneshot
Environment="USER=elkorn","HOME=/home/elkorn"
WorkingDirectory=/home/elkorn/.config/dotfiles/
ExecStart=/usr/bin/make all